body{
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
    }
    .container{
        width: 80%;
        margin: 0 auto;   
    }
    .flexible{
        display: flex;
    }
    span{
        color: orange;
    }
    h1{
        color: gray;
        font-size: 50px;
    }
    .top_content{
        width: 60%;
        padding: 25px;
        margin-top: 49px;
        margin-right: 160px;
    }
    .top_image{
        width: 50%;
        padding: 0px;
        text-align: right;
    }
    #btn{
        text-decoration: none;
        background-color: cyan;
        padding: 9px 40px;
        color: white;
        border-radius: 5px;
        font-size: 24px;
        font-weight: 600;
    }
    .second_part p{
        padding: 20px 0px;
    }
    .first_part{
        border-left: 5px solid aqua;
        border-radius: 2px;
        
    }
    .mission_header {
        text-align: center;
    }
    
    
    
    .single_mission_box {
        margin-left: 50px;
        width: 27%;
        padding: 10px 10px 30px 10px;
    }
    
    .smb_img img {
        width: 40%;
        
    }
    .single_mission_box{
        background-color: rgb(194, 153, 233);
        border-radius:10px;
    }
    .margin_btm {
        margin-bottom: 100px;
    }
    footer {
        text-align: center;
        background-color: rgba(12, 8, 15, 0.918);
        padding: 30px 0px;
    }
    footer p{
        color: white;
    }
    footer h2{
        font-family: 'Lobster', cursive;
        font-size: 30px;
    }
    .white_clr{
        color: white;
    }
    .dev_img img {
        width: 78%;
    }
    
    .dev_content {
        width: 80%;
    }
    .develop_section{
        margin-bottom: 100px;
    }
    .dev_img {
        width: 62%;
        padding-right: 32px;
        margin-top: 19px;
    }
    .community_text {
        width: 55%;
        margin-right: 40px;
        margin-top: 46px;
    }  
    .community_img {
        width: 50%;
        margin-left: 20px;
        text-align: right;
    }
    
    .community_img img {
        width: 80%;
    }
    h2{
        font-size: 40px;
        display: contents;
    }
   
    
